In [1]:
import numpy as np
import pandas as pd

In [4]:
set = {"day1" : 420 ,"day2" : 300,"day3" : 390}
a = pd.Series(set)
print(a)

day1    420
day2    300
day3    390
dtype: int64

In [5]:
set = {"day1" : [420,1,2] ,"day2" : [300,3,4],"day3" : [390,5,6]}
a = pd.Series(set)
print(a)

day1    [420, 1, 2]
day2    [300, 3, 4]
day3    [390, 5, 6]
dtype: object

In [7]:
set = {"day1" : [420,1,2] ,"day2" : [300,3,4],"day3" : [390,5,6]}
a = pd.DataFrame(set)
print(a.loc[0]) #ดูข้อมูลตำเเหน่งที่ 0

day1    420
day2    300
day3    390
Name: 0, dtype: int64

In [6]:
set = {"day1" : [420,1,2] ,"day2" : [300,3,4],"day3" : [390,5,6]}
a = pd.DataFrame(set) #เอาข้อมูลมาจัดเรียงเเบบ Xcel(ตาราง)
print(a)

   day1  day2  day3
0   420   300   390
1     1     3     5
2     2     4     6

In [8]:
set = {"day1" : [420,1,2] ,"day2" : [300,3,4],"day3" : [390,5,6]}
a = pd.DataFrame(set, index = [1,2,3])
print(a)

   day1  day2  day3
1   420   300   390
2     1     3     5
3     2     4     6

In [10]:
set = {"day1" : [420,1,2] ,"day2" : [300,3,4],"day3" : [390,5,6]}
a = pd.DataFrame(set, index = [1,2,3])
a #ทำเป็นคอลัมสวยๆ

   day1  day2  day3
1   420   300   390
2     1     3     5
3     2     4     6